body {
    background-color:grey;
}
#cadastro{
   background-color: rgb(212, 18, 18); 
   width: 80%;
   display: ;
}

{
    background-image: url("https://img.freepik.com/fotos-gratis/telefone-antigo-na-cor-vermelha-isolado-na-superficie-branca_463209-54.jpg?t=st=1706203040~exp=1706203640~hmac=bba174f54d293984244ae4aa11d6104841d267bce4903f5fe904f69aabe9b592");
    background-color: #cccccc;
  }