body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://img.freepik.com/fotos-gratis/telefone-antigo-na-cor-vermelha-isolado-na-superficie-branca_463209-54.jpg?t=st=1706203040~exp=1706203640~hmac=bba174f54d293984244ae4aa11d6104841d267bce4903f5fe904f69aabe9b592");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.overlay-container {
    position: fixed;
    top: 20;
    left: 20;
    width: 100%;
    height: 100%;
    background-color: rgba(141, 110, 110, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    background-color: #d8cdcd85;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
}


form {
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    color: white;
    border: none;
    cursor: pointer;
}


div {
  text-align: center;
  background-color: #443636;
  padding: 40px;
  border-radius: 20px;
}

h1 {
  margin-bottom: 20px;
  color: white; 
}

p {
  color: white; 
}

button {
  background-color: #756363; 
  color: white; 
  border: none;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #333; 
}

