body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: ur(l"https://img.freepik.com/fotos-gratis/telefone-antigo-na-cor-vermelha-isolado-na-superficie-branca_463209-54.jpg?t=st=1706203040~exp=1706203640~hmac=bba174f54d293984244ae4aa11d6104841d267bce4903f5fe904f69aabe9b592"); /* Substitua pelo caminho correto */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .cadastro {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza horizontalmente */
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(242, 242, 242, 0.8); /* Cor de fundo com transparência */
  }
  
  .login-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-button,
  .cadastro-button {
    background-color: #e91313;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .login-button:hover,
  .cadastro-button:hover {
    background-color: #45a049;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .cadastro,
  .pass,
  .botao {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
  }
  